.vs/
.vscode/
out/


# Prerequisites
*.[dao]

# Compiled Object files
*.slo
*.[sl]o
*.obj

# Precompiled Headers
*.[pg]ch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
